SUPABASE_URL=https://devgxubevyiczomuztkd.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRldmd4dWJldnlpY3pvbXV6dGtkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTI4NjIxNTQsImV4cCI6MjA2ODQzODE1NH0._-ZvfncvhFKLS9ecb6WSbvKxS4F7N0_tsvsX0V4-2cU
DB_URL=postgresql://postgres:[bOX05@#$]@db.devgxubevyiczomuztkd.supabase.co:5432/postgres